{% extends "layout.twig" %}

{% block body %}
<style media="screen">
.item-detail .row {
  border-bottom: 1px solid rgb(158, 158, 158);
}
.map {
  border: 3px solid rgb(158, 158, 158);
  height: 500px;
  margin-bottom: 20px;
}
</style>
<div class="container">
  <h3>Map</h3>
  <div class="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLDfQWtqjiEFfVNPa4wGnIEclpx8dcSrU"></script>
<script type="text/javascript">
(function(){
  "use strict";
  // {lat: 15.231497, lng: 100.213483}

  var latLng = {lat: {{ item.location_lat }}, lng: {{ item.location_lng }}};
  var mapEl = document.getElementsByClassName("map")[0];
  var map = new google.maps.Map(mapEl, {
    center: latLng,
    zoom: 10
  });

  var marker = new google.maps.Marker({
    position: latLng,
    map: map,
    title: '{{ item.first_name }} {{ item.last_name }}'
  });
})();
</script>
{% endblock %}
