#body {
  padding-bottom: 20px;
}

.remove-btn {
  color: red;
}

.input-group.date .glyphicon.glyphicon-remove {
  color: rgb(237, 71, 71);
}

.btn-add {
  position: absolute;
  right: 20px;
}

.user-login {
  /*line-height: 48px;*/
}

form {
  /*margin: 0 auto;*/
  max-width: 400px;
}
/*
h3 {
  text-align: center;
}*/
