{% extends "report/list.twig" %}

{% block reportTitle %}แผนภูมิแสดงประเภทผู้พิการ{% endblock %}
{% block bodyReport %}
<!-- <h3 class="text-center">แผนภูมิแสดงประเภทผู้พิการ</h3> -->
<div class="container">
  <div class="today text-right"><strong>{{ today }}</strong></div>
  <canvas id="myChart" width="" height=""></canvas>
<div>
<script type="text/javascript" src="{{ base_url() }}/asset/js/Chart.js"></script>
<script type="text/javascript">
  // Any of the following formats may be used
  var items = {{ items|json_encode|raw }};
  var data = [];
  var label = [];
  $.each(items, function(i, o){
    label.push(o.name);
    data.push(o.count);
  });
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: label,
        datasets: [{
            label: 'ผู้พิการ',
            data: data,
            backgroundColor: "rgba(2,99,132,0.6)"
        }]
        // ,{
        //     label: '# of Votes 2',
        //     data: [12, 19, 3, 5, 2, 3],
        //     backgroundColor: "rgba(255,99,132,0.6)"
        // }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'จำนวน (คน)'
                }
            }],
            xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'ประเภทผู้พิการ'
                }
            }]
        }
    }
});
</script>
{% endblock %}
