{% extends "layout.twig" %}

{% block body %}
<style media="screen">

</style>
<div class="container">
  <h3 class="text-center">ดาวน์โหลดข้อมูล</h3>
  <hr>
  <form class="form-inline text-center" action="{{ base_url() }}/report_reg">
    <div class="form-group">
      <label>ดาวน์โหลดรายงานการลงทะเบียนใหม่ประจำปี</label>
      <select name="year" class="form-control">
        {% for y in reg_year %}
        <option>{{ y+543 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">ดาวน์โหลด</button>
    </div>
  </form>
  <hr>
  <form class="form-inline text-center" action="{{ base_url() }}/report_die">
    <div class="form-group">
      <label>ดาวน์โหลดรายงานผู้เสียชีวิตประจำปี</label>
      <select name="year" class="form-control">
        {% for y in die_year %}
        <option>{{ y+543 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">ดาวน์โหลด</button>
    </div>
  </form>
</div>
{% endblock %}
