{% extends "layout.twig" %}

{% block body %}
<h3 class="text-center">แผนภูมิแสดงตามอายุผู้สูงอายุ</h3>
<div class="container">
  <canvas id="myChart" width="" height=""></canvas>
<div>
<script type="text/javascript" src="{{ base_url() }}/asset/js/Chart.js"></script>
<script type="text/javascript">
  // Any of the following formats may be used
  var olders = {{ olders|json_encode|raw }};
  var data = [];
  $.each(olders, function(i, o){
    data.push(o.count);
  });
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["60-69", "70-79", "80-89", "90 ขึ้นไป"],
        datasets: [{
            label: 'ผู้สูงอายุ',
            data: data,
            backgroundColor: "rgba(2,99,132,0.6)"
        }]
        // ,{
        //     label: '# of Votes 2',
        //     data: [12, 19, 3, 5, 2, 3],
        //     backgroundColor: "rgba(255,99,132,0.6)"
        // }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'จำนวน (คน)'
                }
            }],
            xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'ช่วงอายุ (ปี)'
                }
            }]
        }
    }
});
</script>
{% endblock %}
